<% include ../partials/header %>

  <section class="screen account-required">
    <div class="container">
      <div class="screen-head">
        <img src="/img/logo-1800flowers.png" alt="1800flowers Logo"/>
        <h4>Account Required</h4>
      </div>
      <p>Lorem ipsum dolor sit amet, pellentesque quis sollicitudin praesent. Ut imperdiet massa sociis eu nullam, cursus risus sapien, turpis sed quis.</p>

      <p>Ornare tortor felis diamlorem taciti malesuada lacus, ligula quis non vivamus vehicula, vehicula nulla massa dolor quam, et pellentesque fringilla etiam. Lectus orci, aliquam sed molestie ullamcorper, cras aliquam a quam officia orci, ut pulvinar, lacus congue scelerisque ac.</p>
      <div class="forgotten-create">
        <a href="/" class="back purple">Back to Sign In</a>
        <a href="/create">Create an Account</a>
      </div>
    </div>
  </section>
  <div class="legal-container">
    <p><a href="<%= url('/terms-of-use')%>">Terms of Use</a><a href="<%= url('/privacy-policy')%>">Privacy Policy</a></p>
  </div>

<% include ../partials/footer %>
