<% include ../partials/header %>

  <section class="screen">
    <div class="container">
      <div class="screen-head">
        <img src="/img/logo-starbucks.png" alt="Starbucks Logo"/>
        <h4>There Was an Issue<br>Authenticating Your Account</h4>
        <p>In order to use the Starbucks Skill for the Amazon Echo, you need to:</p>
      </div>
    </div>
    <div class="account-criteria">
      <ul>
        <li class="success">Have a Starbucks account</li>
        <li class="<%= hasError('CARD') ? 'fail' : 'success' %>">Have a Starbucks card</li>
        <li class="<%= hasError('PAYMENTMETHOD') ? 'fail' : 'success' %>">Have a payment method connected to your account</li>
        <li class="<%= hasError('MOPHISTORY') ? 'fail' : 'success' %>">Have previously made a Mobile Order &amp; Pay purchase with the Starbucks app</li>
      </ul>
    </div>
    <div class="container">
      <p>To adjust any of the above, please download and sign in to the Starbucks&reg; mobile app for iPhone&reg; or Android&trade;.</p>

      <p>Once youve created your accountyou can authenticate your Echo with this skill.</p>
      <div class="app-store-links">
        <a class="app-store" href="https://itunes.apple.com/us/app/starbucks/id331177714?mt=8"><img src="../img/logo-app-store.png" /></a>
        <a class="play-store" href="https://play.google.com/store/apps/details?id=com.starbucks.mobilecard&hl=en"><img src="../img/logo-play-store.png" /></a>
      </div>
      <a href="javascript:window.close()" class="btn gold close">Close</a>
    </div>
    <div class="screen-footer">
      <div class="container">
        <p>Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.,</p>
        <p>Google Play is a trademark of Google Inc.</p>
      </div>
    </div>
  </section>

<% include ../partials/footer %>
