<% include ../partials/header %>

  <section class="screen account-required">
    <div class="container">
      <div class="screen-head">
        <img src="/img/logo-1800flowers.png" alt="1800flowers Logo"/>
        <h4>Account Required</h4>
      </div>
      <p>Lorem ipsum dolor sit amet, pellentesque quis sollicitudin praesent. Ut imperdiet massa sociis eu nullam, cursus risus sapien, turpis sed quis. Pharetra hendrerit sunt ut vivamus amet sociis, felis malesuada nibh dolor id, sollicitudin ultricies nec rhoncus, praesent ligula. Felis vestibulum consequat, justo pede facilisis, leo quis. Elit at, pellentesque urna suscipit vestibulum, blandit justo elit erat ullamcorper consequat nec.</p>

      <p>Ornare tortor felis diamlorem taciti malesuada lacus, ligula quis non vivamus vehicula, vehicula nulla massa dolor quam, et pellentesque fringilla etiam. Lectus orci, aliquam sed molestie ullamcorper, cras aliquam a quam officia orci, ut pulvinar, lacus congue scelerisque ac. Vel sem, et arcu convallis quis quisque dolor aliquam. Eros eget dui elementum scelerisque eros, nam aenean venenatis quis et massa, id unde in id et tristique congue. Feugiat feugiat laoreet, urna fames tempor, wisi pharetra dictum tincidunt posuere turpis nemo.</p>
      <a class="btn green" href="">Go to 1800flowers.com</a>
      <a href="/" class="back purple">Back to Sign In</a>
    </div>
  </section>
  <div class="legal-container">
    <p><a href="<%= url('/terms-of-use')%>">Terms of Use</a><a href="<%= url('/privacy-policy')%>">Privacy Policy</a></p>
  </div>

<% include ../partials/footer %>
