<% include ../partials/header %>
  
<section class="screen">
  <div class="container">
  <a class="back purple" href="/">Back to Sign In</a>
    <div class="screen-head">
      <img src="/img/logo-1800flowers.png" alt="1800flowers Logo"/>
      <h4>Reset Password</h4>
      <p>You must visit the 1-800-Flowers web site to reset your password</p>
    </div>
    <div class="copy-link">
      <p class="note">Copy and paste the link below to your browser</p>
      <p class="link">1800FLOWERS.COM</p>
    </div>
  </div>
</section>
<div class="legal-container">
  <p><a href="<%= url('/terms-of-use')%>">Terms of Use</a><a href="<%= url('/privacy-policy')%>">Privacy Policy</a></p>
</div>

<% include ../partials/footer %>
