<% include ../partials/header %>
  
<section class="screen">
  <div class="container">
    <div class="screen-head">
      <img src="/img/logo-starbucks.png" alt="Starbucks Logo"/>
      <h4>Forgotten Password</h4>
      <p>Enter the email address and username used to create you Starbucks account.</p>
    </div>
  </div>
  <div class="error-message">
    <div class="error-message-container">
      <p class="error"><strong>Not Recognized</strong></p>
      <p>Username and/or email<br>not recognized.</p>
    </div>
  </div>
  <form method="POST">
    <div class="form-group">
      <div class="form-row">
        <input type="email" name="email" id="email" placeholder="email address" required />
      </div>
      <div class="form-row">
        <input type="text" name="username" id="username" placeholder="username" required />
      </div>
      <div class="form-row btn-row">
        <button class="btn gold" type="submit">Send</button>
        <a class="btn cancel" href="<%= url('/')%>">Cancel</a>
      </div>
    </div>
      <input type="hidden" name="state" value="<%= state %>" />
      <input type="hidden" name="client_id" value="<%= client_id  %>" />
      <input type="hidden" name="response_type" value="<%= response_type %>" />
  </form>
</section>

<% include ../partials/footer %>
