<% include ../partials/header %>
  
  <section class="screen">
    <div class="container">
      <div class="screen-head">
        <img src="/img/logo-1800flowers.png" alt="1800flowers Logo"/>
        <h4>Your email has been sent</h4>
        <p>We have sent information regarding your account to <%= email %>.</p>
        <p>Once you’ve reset your password, return to this screen to connect your Amazon Echo to your Starbucks account.</p>
        <a href="<%= url('/')%>" class="btn gold">Okay</a>
      </div>
    </div>
  </section>

<% include ../partials/footer %>
