<% include ../partials/header %>
  
  <section class="screen">
    <div class="container">
      <div class="screen-head">
        <img src="/img/logo-1800flowers.png" alt="1800flowers Logo"/>
        <h4>Email Sent</h4>
        <p>We've sent an email to you containing a link to reset the password on your account.</p>
        <a href="" class="btn green">Resent Email</a>
        <a href="/" class="back purple">Back to Sign In</a>
      </div>
    </div>
  </section>

<% include ../partials/footer %>
