<% include ../partials/header %>
  <section class="screen login">
    <div class="container">
      <div class="screen-head">
        <img src="/img/logo-1800flowers.png" alt="1800flowers Logo"/>
        <h4>Account Required</h4>
        <p>In order to use the Starbucks skill on the Amazon Echo, you will need a Starbucks account.</p>

        <p>To create your account, and set up your Starbucks Card with your preferred method of payment, please download and sign in to the Starbucks&reg; mobile app for iPhone&reg; or Android&trade;.</p>

        <p>Once youve created your account, you can authenticate your Echo with this skill.</p>
      </div>

      <div class="app-store-links">
        <a class="app-store" href="https://itunes.apple.com/us/app/starbucks/id331177714?mt=8"><img src="../img/logo-app-store.png" /></a>
        <a class="play-store" href="https://play.google.com/store/apps/details?id=com.starbucks.mobilecard&hl=en"><img src="../img/logo-play-store.png" /></a>
      </div>

			<a class="btn gold" href="<%= url('/')%>">Back</a>

      <div class="screen-footer">
        <div class="container">
          <p>Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.,</p>
          <p>Google Play is a trademark of Google Inc.</p>
        </div>
      </div>
    </div>
  </section>

<% include ../partials/footer %>
