<% include ../partials/header %>
  <div class="arrow-container container">
    <div class="arrow"></div>
  </div>
  <section class="screen">
    <div class="container">
      <div class="screen-head">
        <h4>Success!</h4>
        <p>Your account has been successfully linked to the 1-800-Flowers Alexa Skill</p>
        <p>Tap the "X" to return to the Alexa companion app.
      </div>
      <div class="screen-head screen-footer">
        <img src="/img/logo-1800flowers.png" alt="1800flowers Logo"/>
      </div>
    </div>
  </section>
  <div class="legal-container">
    <p><a href="<%= url('/terms-of-use')%>">Terms of Use</a><a href="<%= url('/privacy-policy')%>">Privacy Policy</a></p>
  </div>

<% include ../partials/footer %>
