<% include ../partials/header %>
  <%if (!isAndroid) { %>
  <div class="arrow-container container">
    <div class="arrow"></div>
  </div>
  <% } %>
  <section class="screen">
    <div class="container">
      <div class="screen-head">
        <h4>Success!</h4>
        <%if (isAndroid) { %>
        <p>You have successfully logged in to finish linking your account please press <strong>Link</strong> button below.</p>
        <div class="form-row">
          <a href="<%- redirectUrl %>" class="btn green">Link</a>
        </div>
        <% } else { %>
        <p>Your account has been successfully linked to the 1-800-Flowers Alexa Skill.</p>
        <p>You can now exit this page.</p>
        <% } %>
      </div>
      <div class="screen-head screen-footer">
        <img src="/img/logo-1800flowers.png" alt="1800flowers Logo"/>
      </div>
    </div>

    <%if (!isAndroid) { %>
    <iframe src="<%- redirectUrl %>"></iframe>
    <% } %>

  </section>
  <div class="legal-container">
    <p><a href="<%= url('/terms-of-use')%>">Terms of Use</a><a href="<%= url('/privacy-policy')%>">Privacy Policy</a></p>
  </div>

<% include ../partials/footer %>
<script>
  ga('send','event','Linking','Login Successful');
</script>
