  
<% include ../partials/header %>
  <section class="screen">
    <div class="container">
    <a class="back purple" href="/">Back to Sign In</a>

      <div class="screen-head">
        <h4>Terms of Use</h4>
      </div>

      <p>Lorem ipsum dolor sit amet, pellentesque quis sollicitudin praesent. Ut imperdiet massa sociis eu nullam, cursus risus sapien, turpis sed quis. Pharetra hendrerit sunt ut vivamus amet sociis, felis malesuada nibh dolor id, sollicitudin ultricies nec rhoncus, praesent ligula. Felis vestibulum consequat, justo pede facilisis, leo quis. Elit at, pellentesque urna suscipit vestibulum, blandit justo elit erat ullamcorper consequat nec. Ornare tortor felis diamlorem taciti malesuada lacus, ligula quis non vivamus vehicula, vehicula nulla massa dolor quam, et pellentesque fringilla etiam. Lectus orci, aliquam sed molestie ullamcorper, cras aliquam a quam officia orci, ut pulvinar, lacus congue scelerisque ac. Vel sem, et arcu convallis quis quisque dolor aliquam. Eros eget dui elementum scelerisque eros, nam aenean venenatis quis et massa, id unde in id et tristique congue. Feugiat feugiat laoreet, urna fames tempor, wisi pharetra dictum tincidunt posuere turpis nemo, vehicula sit consequat pellentesque quis dui lacinia. Lectus sollicitudin non explicabo lorem euismod, placerat malesuada tincidunt consequat egestas sit, turpis metus tristique tortor lacinia rhoncus quis, malesuada lacus ligula magnis porttitor id phasellus, at autem sit id. Ligula id convallis, eu magnis mattis, quis eget ipsum ante, vestibulum sit ante augue eget.</p>

      <p>Placerat aenean quis vitae metus amet et, dolor sed suspendisse leo, arcu tempus aliquam curabitur vestibulum mauris. Eros sodales sit auctor, congue eu, nunc aut, volutpat id et wisi lorem tristique ante. Libero nibh commodo condimentum, nullam diam ipsum, adipiscing consectetuer elit wisi adipiscing maecenas nulla. Nulla a neque orci duis ultrices dignissim, turpis wisi metus donec integer sollicitudin neque, sed mi quis, non donec nullam purus tempus, integer nisl proin. Mauris velit, congue vitae, faucibus proin adipiscing viverra elementum, pellentesque eros wisi fermentum arcu eros. Elit aenean, felis massa sociis a tempor vitae, tristique velit sit eu egestas, wisi pretium urna, aliquam eu sed vestibulum qui etiam. Quam cras sapien dui, donec id rutrum mauris egestas lectus, posuere eu sed commodo amet, nec justo placerat lorem tincidunt. Eros bibendum fringilla volutpat, quisque pede aliquam cras proin enim aliquam, sem qui volutpat curae eget, nullam nostra. Sit orci, mi sed praesent at mollis magna, ut nulla diam, pede ac et. Tellus a quam aliquam accumsan suspendisse.
      Arcu sed. Elit aliquam et ac duis pharetra consequat, donec erat interdum rutrum non velit amet, est consectetuer nulla sociis in ac. Excepteur nec, pede posuere, metus est, arcu natoque phasellus tellus hendrerit mi. Nam quam nulla nunc morbi bibendum, amet pellentesque nesciunt etiam dictum, adipiscing ac lacinia. Ullamcorper a ac. Sed eu ac quis dignissim mauris at, ullamcorper laboris lectus, condimentum a pharetra augue vestibulum.</p>

      <p>In consequat fusce id. Vitae vestibulum et nonummy urna sed. Sociis ipsum nulla aliquam praesent ac, cubilia pharetra ac mi, donec id libero, et elit eros, euismod dui sed sapien. In error amet, eget ipsum magna, mauris metus vel eget, quis a lorem vel eros. Nullam vel tempor non wisi dolor at. In eleifend interdum arcu luctus, eleifend luctus wisi accumsan suspendisse est, erat molestie odio nostra at ipsum.</p>
    </div>
  </section>

<% include ../partials/footer %>
