{
  "server": {
    "port": 3000,
    "hostSkill": true
  },
  "flowers": {
    "key": "c4078e06-7f12-442f-ae72-def09015a4f8",
    "secret": "rT6kX2qU3iS3pH5aQ6iV6sQ4pK1yV1aB4dP5yU5jU6nE0bT5iM",
    "endpoint": "https://ecommerce.800-flowers.net/alexa/uat",
    "web": "https://flowers-dev.rain.agency",
    "site": "akamai.1800flowers-uat.net",
    "version": "v1",
    "verbose": true,
    "logsAreInsensitive": true,
    "callsPerSecond": 50,
    "platform": "echo",
    "encryptKey": "18F-SuperSekritSki11Inf!",
    "paymentCredentials": {
      "user": "test",
      "password": "test"
    },
    "defaultCredentials": {
      "username": "1stevenh@rain.agency",
      "password": "1rainPssword"
    }
  },
  "alexa": {
    "auth": {
      "redirectUrl": "[CHANGE-THIS]",
      "clientId": "alexa-skill",
      "clientSecret": "ihaveasecret",
      "codeKey": "used-to-mangle-codes",
      "token_expiration": 1576800000
    },
    "appId": "[CHANGE-THIS]"
  },
  "skill": {
    "recipientChoiceCount": 4
  },
  "googleAnalytics": {
    "trackingCode": "[CHANGE-THIS]"
  },
  "sentry": {
    "DSN": "",
    "captureErrors": false,
    "captureTimeoutWarnings": false,
    "captureMemoryWarnings": false
  },
  "verbose": true
}
